@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import "flowbite/dist/flowbite.css"; */

body{
  background-color: #ecedef;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ecedef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb1c24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c41218;
}


.scrollable {
  max-height: 26.5rem; /* Equivalent to max-h-96 */
  overflow-y: auto;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scrollable::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}



.gridwidth{
  min-width: -webkit-fill-available;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.blinking-button {
  animation: neonGlow 1.5s infinite;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 5px #eb1c24, 0 0 10px #eb1c24, 0 0 15px #eb1c24, 0 0 20px #eb1c24;
  }
  50% {
    box-shadow: 0 0 10px #eb1c24, 0 0 20px #eb1c24, 0 0 30px #eb1c24, 0 0 40px #eb1c24;
  }
  100% {
    box-shadow: 0 0 5px #eb1c24, 0 0 10px #eb1c24, 0 0 15px #eb1c24, 0 0 20px #eb1c24;
  }
}

.thehover:hover {
  animation: neonGlow 1.5s infinite alternate;
}






.card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  background-color: #ffffff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #eb1c24;
  height:220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.8s ease-out;
}

.card:hover::before{
    transition-delay:0.2s ;
  transform: scale(100);
}

.card:hover{
    color: #ffffff;
.icon{
  color: #ffffff;
  transition-delay:0.5s ;
}
}



/* directory cards */

.education {
  --bg-color: #eb1c24;
  --bg-color-light: #feb7ba;
  /* --text-color-hover: #4C5656; */
  --box-shadow-color: #ff464c;
}

.directory-card {
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.directory-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.directory-card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.directory-card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.directory-card:hover .circle:after {
  background: var(--bg-color-light);
}

.directory-card:hover p {
  color: var(--bg-color);
  background-color: white;
}

.directory-card:hover h3 {
  color: white;
}

.directory-card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.directory-card p {
  font-size: 17px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 100px;
  height: 70px;
  border-radius: 50%;
  background: var(--bg-color);
  z-index: -1;
  transition: transform 0.3s ease-out;
}
